* {
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
}

.board {
  width: 100%;
  display: grid;
  outline: none;
  grid-template-columns: repeat(20, auto);
  gap: 1px;
  max-width: 1000px;
  margin: 0 auto;
}

.cell {
  width: 40px;
  height: 30px;
  border: 1px solid #ccc;
}

.hero {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./images//superman.png");
}

.mine {
  background-color: black; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;